[user]
	name = Alexandros Kritikos
	email = akritikos@outlook.com
	signingkey = C5F2F1EC
[commit]
	gpgsign = true
#WIN ONLY	[gpg]
#WIN ONLY	program = c:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
[core]
	autocrlf = true
	symlinks = true
#WIN ONLY	sshCommand = 'C:\\Windows\\System32\\OpenSSH\\ssh.exe'
#GUI ONLY	editor = code --wait
#CLI ONLY	editor = vim
[mergetool "vscode"]
	cmd = code --wait $MERGED
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[merge]
	renormalize = true
	conflictStyle = diff3
#GUI ONLY	tool = vscode
#CLI ONLY	tool = vimdiff3
[diff]
	guitool = vscode
#CLI ONLY	tool = vimdiff3
#GUI ONLY	tool= vscode
[pull]
	rebase = true
[fetch]
	prune = true
[rebase]
	autoStash = true
[alias]
	clone = 'clone --recursive'
	lgfull = log --oneline --decorate --color --graph
	lg = log --oneline --decorate --color
