[alias]
	clone = 'clone --recurse-submodules'
	lgfull = log --oneline --decorate --color --graph
	lg = log --oneline --decorate --color
[column]
	ui = auto,row,dense
[commit]
	gpgsign = true
[core]
	autocrlf = true
	symlinks = true
	hideDotFiles = true
	##WIN ONLY sshCommand = 'C:\\Windows\\System32\\OpenSSH\\ssh.exe'
	##GUI ONLY editor = code --wait
	##CLI ONLY editor = vim
[diff]
	# guitool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[fetch]
	prune = true
	recurseSubmodules = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	##WIN ONLY program = c:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
[i18n]
	filesEncoding = utf-8
[merge]
	renormalize = true
	conflictStyle = diff3
	# tool = vscode
[mergetool "vscode"]
	cmd = code.exe --wait \"$MERGED\"
[pull]
	rebase = true
[push]
	recurseSubmodules = on-demand
	followTags = true
[rebase]
	autoStash = true
	autosquash = true
[status]
	renames = true
	showStash = true
[submodule]
	active = .
	recurse = true
[tag]
	forceSignAnnotated = true
[alias]
	clone = 'clone --recursive'
	lgfull = log --oneline --decorate --color --graph
	lg = log --oneline --decorate --color